@import url('https://fonts.googleapis.com/css?family=Calligraffitti:100,200,300,400,500,600,700,800|Playfair+Display:100,200,300,400,500,600,700,800|Sriracha&display:100,200,300,400,500,600,700,800');

/*HEADERS*/

.header-title h1{
    font-family: 'Calligraffitti', cursive;
    font-size:60px;
    color:#000;
    text-align:center;
    margin-top:0px;
    margin-bottom:25px;
    letter-spacing:4px;
}
.header-title h2{
    font-family: 'Playfair Display', serif;
    font-size:25px;
    color:#000;
    text-align:center;
    margin-top:20px;
    margin-bottom:16px;
    letter-spacing:1px;
}

.header-title a{
    text-decoration:none;
}

/*Header Block Dividers*/

.header-block-divider{
    width: 95%;
    height: 1px;
    border: 0;
    background-color:#000;
    margin-top:1px;
    margin-bottom:1px;
}

/*NAVBARS*/

.nav-menuitem a{
    font-family: 'Playfair Display', serif;
    font-size:28px;
    font-weight:600;
    color:#000;
    margin:0px;
}

.nav-menu-title-lisa{
    font-family: 'Calligraffitti', cursive;
    font-size:30px;
    color:#000;
    margin-top:0px;
    margin-left:10px;
    margin-bottom:0px;
    margin-right:0px;
    letter-spacing:2px;
}

.nav-menu-title-actress{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    color:#000;
    margin-top:0px;
    letter-spacing:1px;
}

/*SECTIONS*/

.section-text p{
    font-family:'Playfair Display', serif;
    font-size:17px;
    color:#000;
}

.contact-center-form{
    margin:0 auto;
    max-width:90%;
    padding:0px;
}

.bio-text-justify{
    text-align: initial;
}

.gallery-image{
    width:80%;
}

.bio-image{
    width:80%;
}

.section-hero-image{
    width:90%;
}

.bio-image-1-top-margin{
    margin-top:0px;
}

/*FOOTERS*/

.footer-menuitem{
    font-family: 'Playfair Display', serif;
    font-size:22px;
    font-weight:600;
    color:#000;
    margin:0px;
}

.footer-menuitem span{
    font-family: serif;
    font-size:22px;
}

/*FOOTERS*/

/*Media Queries*/

@media(min-width:792px){
.contact-center-form{
    margin:0 auto;
    max-width:100%;
    padding:20px;}
}

@media(min-width:792px){
.section-hero-image{
    width:80%;
}

@media(min-width:510px){
.bio-image{
    width:70%;
}

@media(min-width:992px){
.bio-image-1-top-margin{
    margin-top:50px;
}

@media(min-width:510px){
.bio-text-justify{
    text-align:justify;
}