	@import url('https://fonts.googleapis.com/css?family=Calligraffitti:100,200,300,400,500,600,700,800|Playfair+Display:100,200,300,400,500,600,700,800|Sriracha&display:100,200,300,400,500,600,700,800|PT+Serif&display:100,200,300,400,500,600,700,800');

/*HEADERS*/

.header-title h1 {
	font-family: 'Calligraffitti', cursive;
	font-size: 60px;
	color: #000;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	letter-spacing: 4px;
}

.header-title h2 {
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: #000;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 16px;
	letter-spacing: 1px;
}

.header-title a {
	text-decoration: none;
}


/*HEADER BLOCK DIVIDERS*/

.header-block-divider {
	width: 95%;
	height: 1px;
	border: 0;
	background-color: #000;
	margin-top: 1px;
	margin-bottom: 1px;
}


/*NAVBARS*/

.nav-menuitem a {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin: 0px;
}

/*The main title above navbar - LISA FAIRFIELD*/
.nav-menu-title-lisa {
	font-family: 'Calligraffitti', cursive;
	font-size: 30px;
	color: #000;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	letter-spacing: 2px;
}

/*The main title above navbar - ACTOR*/
.nav-menu-title-actress {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #000;
	margin-top: 0px;
	letter-spacing: 1px;
}

/*CONTACT FORM*/

.contact-border {
	border-radius: 3rem;
	box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
	background-color: rgb(255, 255, 255);
	border: rgb(211, 235, 230);
}

/*SECTIONS*/

/*Text style for content in bio.html*/
.section-text {
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	color: #000;
	margin-left: 0px;
	margin-right: 0px;
}

.section-text-showreels {
	font-family: 'Playfair Display', serif;
	font-size: 19px;
	color: #000;
}

/*Styling for contact form in contact.html*/
.contact-center-form {
	margin: 0 auto;
	max-width: 100%;
	padding: 0px;
}

.bio-text-justify {
	text-align: initial;
}

.gallery-images {
	max-width: 70%;
}

/*Images in Bio.html*/
.bio-image {
	width: 80%;
}

/*Main image on index.html"*/
.section-hero-image {
	width: 90%;
}

/*First image on Bio.html page to drop down margin a little for medium devices*/
.bio-image-1-top-margin {
	margin-top: 0px;
}


/*FOOTER*/

.footer-menuitem {
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: 600;
	color: #000;
	margin: 0px;
}


/*Font change for digit "1" in email address for clarity in Footer*/

.footer-menuitem span {
	font-family: 'PT Serif';
	font-size: 22px;
}


/*MÉDIA QUERIES*/


    /*Reduces width and padding in <form> in contact.html for desktop.
For smaller devices it resorts back to 100% width and 0 padding */

@media(min-width:992px) {
	.contact-center-form {
		margin: 0 auto;
		max-width: 60%;
		padding: 20px;
	    }
    }
	/*Allows hero-image to be at 90% width for smaller devices and reduced to 60% width for larger devices.
Otherwise it becomes to small on mobile*/
	@media(min-width:792px) {
		.section-hero-image {
			width: 55%;
		}
	}
	/*Allows bio-images to be at 80% width for mobile devices and reduced
to 70% width for larger devices in bio.html.*/
	@media(min-width:510px) {
		.bio-image {
			width: 70%;
		}
	}
	/*Allows bio-image-1 to have a slightly lower margin for medium devices before
transition to 1 column for smaller devices in bio.html.*/
	@media(min-width:992px) {
		.bio-image-1-top-margin {
			margin-top: 90px;
		}
	}
	/*In bio.html we wanted text to be justified. For mobile devices text became mis-aligned.
This Media query allows text not to be justified on mobile devices.*/
	@media(min-width:510px) {
		.bio-text-justify {
			text-align: justify;
		}
	}
	/*This Media query reduces size of text in Nav bar to a smaller font in smaller devices.
Text otherwise looked too big*/
	@media(min-width:640px) {
		.nav-menuitem a {
			font-family: 'Playfair Display', serif;
			font-size: 28px;
			font-weight: 600;
			color: #000;
			margin: 0px;
		}
	}
	/*This Media query allows for a tidy margin in medium to large devices but reduces to margin-left and right to
0px to be eligible on mobile*/
	@media(min-width:510px) {
		.section-text {
			font-family: 'Playfair Display', serif;
			font-size: 17px;
			color: #000;
			margin-left: 20px;
			margin-right: 20px;
		}
    } 